https://www.fordham.edu/about/leadership-and-administration/administrative-offices/enrollment-group/academic-records/enrollmentdegree-verification

# Enrollment/Degree Verification

**The National Student Clearinghouse is Fordham University’s authorized agent for providing all degree and enrollment verifications. All employers and background screening firms requesting this information must visit www.degreeverify.org.**

In the event NSC is unable to confirm your verification request, they will contact us for further assistance. Upon resolution, the NSC database will be updated. Thus, you must contact The National Student Clearinghouse for all initial and subsequent verification requests

Please contact The National Student Clearinghouse for further assistance:

National Student Clearinghouse2300 Dulles Station Boulevard, Suite 300Herndon, VA 20171**Current Students** may access this service from the National Student Clearinghouse through the "Student Services" section of the "Students" page of [fordham.edu](https://www.fordham.edu/) (select "My Account" and then "Official eTranscript Request and Enrollment Verification"). This service is free of charge to current students and is available 24 hours a day, 7 days a week. This service will serve as proof of enrollment for agencies such as Health insurance, student loans, future employment, military IDs, and degree certification. Students may request enrollment verifications for the current term or for a total enrollment history.